.modal_overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    background-color: black;
    background-color: transparentize(black, 0.6);
}

.modal {
    position: absolute;
    top: 110%;
    right: 50%;
    bottom: 0;
    overflow-y: auto;
    width: 540px;
    margin-right: -270px;
    padding: 20px 30px;
    background-color: $secondary;
    transition: all $t-default;
    
    &.open {
        top: $h-header;
    }
}

.modal--heading {
    margin-bottom: 26px;
    @include font-size(36);
    color: white;
}