$primary: #671F3D;
$secondary: #B34973;
$highlight: #671F3D;

$forest: #228B22;
$amber: #F08C2D;
$ruby: #C02F1D;
$sky: #00A8FF;

$jet: #131516;
$raven: #373737;
$asher: #555555;
$stone: #707070;
$rock: #97979a;
$sterling: #B0B0B2;
$heather: #C7C7C9;
$pearl: #E2E3E4;
$lilia: #F2F3F4;
$smoke: #fcfcfc;
$white: #FEFEFE;



$text: $stone;
$heading: $asher;